 div{
    background: purple;
    color: white ;
 }

 #quote {
    font-family: verdana,sans-serif ;
    color: #45e415;
 }


.country {
    color: orange ;
    background: steelblue
}

#sec2 {
    background-color: red
}

span {
    text-transform: uppercase;
    color: blue;
}

#sec2 p  {
    color: yellow
}

#goat{
    position: absolute;
}
#goat1{
    /* position: relative;
    top: 30px;
    left: 50px; */
    visibility: hidden;
    /* display: none; */
}

#goat2{
    position: absolute;
    /* top: 5px; */
    /* left: 50px; */
    /* bottom: 6px; */
    top: 3px;
    /* right: 12px; */
    left: 256px;
}

a:active {
    background: black;
    color: white ;
}